@import "../../../assets/themes/base/styles/common/base.scss";

.page {

  &-wrapper {
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: linear-gradient(120deg, #fccb90 0%, #d57eeb 100%);
  }

  &-content {
    flex: 1 0 auto;
  }
}

.mat-drawer-content {
  display: flex;
  flex-direction: column;
}

.mat-drawer {
  background-color: $light;
}
