<app-page-layout>
  <div content>
    
    <div class="dashboard-content" *ngIf="isLoading$ | async">
      <mat-spinner diameter="70"></mat-spinner>
    </div>

    <cdk-virtual-scroll-viewport autosize class="dashboard__viewport" *ngIf="!(isLoadingError$ | async); else error">
      <div class="dashboard-content" fxLayout="row wrap" fxLayoutAlign="center center">
        <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *cdkVirtualFor="let photo of photos$">
          <app-card [photo]="photo"></app-card>
        </div>
      </div>
    </cdk-virtual-scroll-viewport>

    <ng-template #error>
      <div class="dashboard-content">
        <div class="dashboard-content__error">
          <h1>Server error</h1>
          <span class="dashboard-content__padding-span">Sorry, there are some problems with loading data from https://jsonplaceholder.typicode.com/photos.</span>
          <span>Please, try again later.</span>
        </div>
      </div>
    </ng-template>
  </div>
</app-page-layout>
