@import "../../../../assets/themes/base/styles/common/base.scss";

.card-dialog {
  &__img {
    max-width: 400px;
    max-height: 400px;
    width: 80%;
    height: 80%;
  }
}

.mat-dialog-title {
  text-align: center;
}

.mat-dialog-content {
  display: flex;
  justify-content: center;
}

.mat-dialog-container {
  max-width: 500px;
  background-color: $light;
}
