// Page
$page-min-width: 320px;
$page-max-width: 1240px;

// Sources
$src-images: "../images";
$src-icons: "@{src-images}/icons";
$src-fonts: "../fonts";

$header-height: 70px;
$dropdown-header-height: 45px;
$header-padding: 0 10%;

$footer-height: 30px;

$non-content-height: $header-height + $footer-height;
